{% load bootstrap4 %} 
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %} 
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
    <style>
      .container {
        text-align: center;
      }
    </style>
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">진지한 소개글</h4>
              <p class="text-muted">제가 가장 좋아하는 귀요미들을 종류를 가리지 않고 모아봤습니다.<br>
                지금 밖에서 고양이들 소리가 엄청 들리네요.<br>
              저 원래 고양이도 무서워했는데 랜선집사 활동으로 이제는 좋아졌어요.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">제발 친구해줘요</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.instagram.com/1_____bit/" class="text-white">💙인스타 빨로빨로미</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Album</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My Favorite 귀요미s</h1>
          <p class="lead text-muted">저기 우측상단 메뉴도 함 눌러보셔요. <br> 저는 키덜트인가봐요. 애니메이션에 나오는 친구들이 많아요.</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{% static 'agnes.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">아그네스는 '슈퍼배드 1'에 나오는 귀염둥이입니다. 저는 미니언즈보다 이 친구가 더 귀여워요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            {% for photo in photos.all %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{photo.image.url}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{photo.title}}</p>
                  <p class="card-text">{{photo.description}}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}